 <!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
 <properties>
    <entry key="board_size_row">10</entry>
    <entry key="board_size_col">10</entry>
    <entry key="obstacle_snake">./src/resources/obstacle-config/snake.xml</entry>
    <entry key="obstacle_ladder">./src/resources/obstacle-config/ladder.xml</entry>
    <entry key="playerCount">4</entry>
    <entry key="gameType">Simple</entry>
 </properties>